<h1>Questions</h1>

<ul>
  <% @questions.each do |question| %>
    <li><%= question.description %></li>
    <% question.alternatives.each do |alternative| %>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault--<%= question.id %>" id="flexRadioDefault--<%= alternative.id %>">
        <label class="form-check-label" for="flexRadioDefault1">
          <%= alternative.description %>
        </label>
      </div>
    <% end %>
  <% end %>
</ul>
