.flash {
padding: 11px 14px;
margin: 24px auto;
text-align: center;
font-size: 17px;
justify-content: center;
width: 600px;
align-items: center;
display: flex;
background: white;
box-shadow: 0 0 8px rgba(0,0,0,0.2);
border-radius: 30px;
margin-top: 5px;
max-width: max-content;
max-height: max-content;
height: 750px;
}

.flash-success {
border: 3px solid #1EDD88;
}

.instructor-card { text-align: center; }

.instructor-card .card-banner {
  margin-bottom: 20px;
  transition: var(--transition);
}

.instructor-card:hover .card-banner { transform: translateY(-5px); }

.instructor-card img {
  width: 100%;
  max-width: max-content;
  margin-inline: auto;
}

.instructor-card .card-title {
  color: var(--onyx);
  font-family: var(--ff-poppins);
  font-size: var(--fs-2);
}

.instructor-card .card-subtitle { margin-bottom: 15px; }

.card-social-list {
  display: show;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.card-social-link {
  color: var(--onyx);
  font-size: 18px;
}
