<div class = "card-white">
      <h1>Hello, I'm <%= @therapist.name %></h1>
      <br><br>
      <img src=<%= @therapist.photo %> height="300" width="600" alt="profile" class="img-circle">
      <br><br>
      <br><br>
      <br><br>
      <h2><p><%= @therapist.bio %></p></h2>
  </div>
