<div class="flash flash-success">
  <span><strong>Yay!</strong> 🎉 we have found the best therapist for you!</span>
</div>
<div class = "card-white">
      <h1>Hello, I'm <%= @therapist.name %></h1>
      <br><br>
      <img src=<%= @therapist.photo %> height="250" width="400" alt="profile" class="img-circle">
      <br><br>
      <h2><p><%= @therapist.bio %></p></h2>
      <br><br>
      <h3><p>let's have a <strong>free</strong> consultation call</p></h3>
      <a class="btn btn-flat" href="#">Book now</a>
  </div>
