            <%= image_tag "instructor-vactor-1.svg", alt:"Vector line art", class:"vector-line" %>
<div class="flash flash-success">



            <section class="instructor" id="therapist">

          <li>
            <span><strong>Oba!</strong> 🎉 Já encontramos a Melhor Ajuda pra você!
            </span>
              <div class="instructor-card">
                <figure class="card-banner">
                  <%= image_tag @therapist.photo, alt: "Sellina" %>
                </figure>

                <a href="#">
                  <h3 class="card-title"><%= @therapist.name %> </h3>
                </a>

                <p class="card-subtitle">Olá, conheça um pouco sobre mim </p>
                 <ul class="card-social-list">
                    <li>
                      <a href="#" class="card-social-link">
                        <ion-icon name="logo-twitter">Twitter</ion-icon>
                      </a>
                    </li>

                    <li>
                      <a href="#" class="card-social-link">
                        <ion-icon name="logo-instagram">Instagram</ion-icon>
                      </a>
                    </li>

                    <li>
                      <a href="#" class="card-social-link">
                        <ion-icon name="logo-linkedin">Linkedin</ion-icon>
                      </a>
                    </li>
                  </ul>
              </div>
              <p class="card-subtitle">Agende uma consulta <strong>Gratuíta</strong></p>
              <p></p>
              <a class="btn btn-secondary" href="#">Agendar primeira sessão</a>
          </li>

            </section>
            <%= image_tag "instructor-vactor-2.svg", alt:"Vector line art", class:"vector-line" %>
