<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terapeuta em 2 minutos</title>
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <!-- navbar sections starts  -->
    <header class="header">
        <div class="logo">
            <img src="images/logo-bookmark.svg" alt="logo-bookmark">
        </div>

        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#features">Como funciona</a>
            <a href="#footer">Contato</a>
            <a href="#" class="btn">log in</a>
        </nav>


        <div class="fas fa-bars" id="menu-btn"></div>
    </header>
    <!-- navbar sections starts  -->


    <!-- home section stars  -->

    <section class="home" id="home">
        <div class="content">
            <h1>terapeuta ideal em 2 minutos</h1>
            <p> Utilizamos inteligência artificial mais moderna para encontrar o psicólogo perfeito para você com apenas algumas breves perguntas</p>

            <a href="#" class="home-btn">encontrar meu terapeuta</a>
        </div>


        <div class="image">
            <img src="images/illustration-hero.svg" alt="illustration-hero">
        </div>
    </section>

    <!-- home section ends -->

    <!-- features sectin starts  -->

    <section class="features" id="features">
        <div class="heading">
            <h1>Como funciona</h1>
            <p>Nossa meta é transformar o processo de busca por terapia online.</p>
            <p> Chega de gastar horas pesquisando dezenas de terapeutas.</p>
            <p>O Melhor Ajuda usa um breve resumo das suas necessidades
            e busca no nosso banco o terapeuta mais capacitado para suas necessidades</p>
        </div>


        <div class="row">
            <!-- 1 Tab  -->



            <div class="content">
                <h1>Terapeutas altamente capacitados</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi sint odit tempora, maiores quos qui quisquam accusamus ad officiis sapiente.</p>

            </div>
            <div class="content">
                <h1>X perguntas</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi sint odit tempora, maiores quos qui quisquam accusamus ad officiis sapiente.</p>

            </div>

            <div class="content">
                <h1>Match inteligente</h1>
                <p>Our powerful search feature will help you find saved sites in no time at all. No need to trawl through all of your bookmarks.</p>
                <a href="#" class="all-btn">Iniciar</a>
            </div>



            <!-- 2 Tab  -->





            <!-- 3 Tab  -->
          </div>
        </div>
    </section>


    <!-- features sectin ends -->


    <!-- downloads section starts  -->

    <section class="download" id="download">
        <div class="heading">
            <h1>Por que somos diferentes?</h1>
            <p>WMelhor ajuda etc etc etc etc</p>
        </div>

        <div class="box-container">
            <div class="box">
                <img src="images/logo-chrome.svg" alt="logo-chrome">

                <h3>Terapia</h3>
                <p>Melhor ajuda</p>
                <a href="#" class="all-btn">Quero encontrar meu terapeuta</a>
            </div>

            <div class="box">
                <img src="images/logo-firefox.svg" alt="logo-firefox">

                <h3>Terapia</h3>
                <p>Melhor ajuda</p>
                <a href="#" class="all-btn">Quero encontrar meu terapeuta</a>
            </div>

            <div class="box">
                <img src="images/logo-opera.svg" alt="logo-opera">

                <h3>Terapia</h3>
                <p>Melhor ajuda</p>
                <a href="#" class="all-btn">Quero encontrar meu terapeuta</a>
            </div>
        </div>
    </section>


    <!-- downloads section ends -->



    <!-- footer section starts  -->

   <section class="footer" id="footer">
       <div class="box-container">
           <div class="box">
               <h3>quick links</h3>
               <a href="#"><i class="fas fa-chevron-right"></i>home</a>
               <a href="#"><i class="fas fa-chevron-right"></i>Como funciona</a>

               <a href="#"><i class="fas fa-chevron-right"></i>Contato</a>
            </div>


            <div class="box">
                <h3>Nossos serviços</h3>
                <a href="#"><i class="fas fa-chevron-right"></i>Terapia Online</a>

           </div>

           <div class="box">
               <h3>contact info</h3>
               <a href="#"><i class="fas fa-phone"></i>+55 11 2487-0983</a>
               <a href="#"><i class="fas fa-envelope"></i>info@melhorajuda.com.br</a>
               <a href="#"><i class="fas fa-map-marker-alt"></i>Rua Jerico, 193 - cj, 72 - Vila Madalena</a>
           </div>

           <div class="box">
               <h3>follow us</h3>
               <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>
               <a href="#"><i class="fab fa-twitter"></i>twitter</a>
               <a href="#"><i class="fab fa-instagram"></i>instagram</a>
               <a href="#"><i class="fab fa-linkedin"></i>linkedin</a>
           </div>
       </div>


       <div class="credit">created by
           <a href="https://github.com/lexsimoes/melhor-ajuda" target="_blank"><span>Melhor Ajuda Inc.</span> | all rights reserved</a>
       </div>
   </section>

    <!-- footer section ends -->


    <script src="js/main.js"></script>
</body>

</html>
